<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:theme="@style/Theme.BEEP">

        <activity
            android:name=".ui.security.SecurityActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signin.SignInActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.BEEP.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.addgifticon.AddGifticonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cropgifticon.CropGifticonActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.detailgifticon.GifticonDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.map.MapActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".ui.widget.BeepWidgetReceiver"
            android:exported="false"
            android:label="Gifticon Widget">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/gifticon_widget_provider" />
        </receiver>
    </application>
</manifest>