<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <application>
        <activity
            android:name=".ui.security.SecurityActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.signin.SignInActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.BEEP.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ui.addgifticon.AddGifticonActivity" />
        <activity android:name=".ui.cropgifticon.CropGifticonActivity" />
        <activity android:name=".ui.gallery.GalleryActivity" />
        <activity
            android:name=".ui.map.MapActivity"
            android:exported="true" />
    </application>

</manifest>